.container {
    // animation: pulse 1.5s infinite;
    // TODO - add animation after icon is included
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0.8);
    }
}